= content_for :title, "Season - #{@season.date_range_words}"
.row
  .small-8.small-centered.column
    .row
      .small-12.column
        %h1 Editing Season
    = render 'form'
    .row
      .small-12.column.text-right
        = link_to 'Back', seasons_path
