= content_for :title do
  - if @season&.valid?
    Season - #{@season.date_range_words}
  - else
    Invalid season
.container
  %h1 Editing Season
  = render 'form', season: @season
  .mt-3.w-100.text-end
    = link_to 'Back', seasons_path
