<div class="row">
  <div class="small-8 small-centered column">
    <div class="row">
      <div class="small-12 column">
        <h1>New Season</h1>
      </div>
    </div>

    <%= render 'form' %>

    <div class="row">
      <div class="small-12 column text-right">
        <%= link_to 'Back', seasons_path %>
      </div>
    </div>
  </div>
</div>
