<%- if devise_mapping.omniauthable? %>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <div class="expanded button-group">
        <%- OAUTH_PROVIDERS.each do |oap| %>
          <% if oap.icon %>
            <%= link_to content_tag(:i, '', class: "fa #{oap.icon}"),
              omniauth_authorize_path(resource_name, oap.label),
              title: "Sign in with #{oap.name}",
              class: "button" %>
          <% else %>
            <%= link_to oap.name.first,
              omniauth_authorize_path(resource_name, oap.label),
              title: "Sign in with #{oap.name}",
              class: "button" %>
          <% end %>
        <% end -%>
      </ul>
    </div>
  </div>
<% end -%>
