<%- if devise_mapping.omniauthable? %>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <ul class="button-group even-3">
        <%- OAUTH_PROVIDERS.each do |oap| %>
          <% if oap.icon %>
            <li class="oauth-block oauth-icon-block">
            <%= link_to content_tag(:i, '', class: "fa #{oap.icon}"),
              omniauth_authorize_path(resource_name, oap.label),
              title: "Sign in with #{oap.name}",
              class: "button" %>
            </li>
          <% else %>
            <li class="oauth-block oauth-text-block">
            <%= link_to oap.name.first,
              omniauth_authorize_path(resource_name, oap.label),
              title: "Sign in with #{oap.name}",
              class: "button" %>
          <% end %>
        <% end -%>
      </ul>
    </div>
  </div>
<% end -%>
