= bootstrap_form_for resource, as: resource_name,
                               url: password_path(resource_name) do |f|
  = f.email_field :email, autofocus: true
  .d-grid.gap-2
    = f.submit 'Send Me Password Reset Instructions', class: 'btn btn-primary'
