= content_for :title, @event&.valid? ? @event.full_title : 'Invalid event'
.container
  %h1 Editing Event
  = render 'form', event: @event
  .d-flex.justify-content-between.mt-3
    = link_to 'Show', @event
    = link_to 'Back', events_path
