<div class="row">
  <div class="small-8 small-centered column">
    <div class="row">
      <div class="small-12 column">
        <h1>Editing Event</h1>
      </div>
    </div>

    <%= render 'form' %>

    <div class="row">
      <div class="small-6 column">
        <%= link_to 'Show', @event %>
      </div>
      <div class="small-6 column">
        <%= link_to 'Back', events_path, class: 'right' %>
      </div>
    </div>
  </div>
</div>
