= content_for :title, @event&.valid? ? @event.full_title : 'Invalid event'
.container
  %h1 Editing Event
  = render 'form', event: @event
  .row
    .col-sm-6
      = link_to 'Show', @event
    .col-sm-6.text-end
      = link_to 'Back', events_path
