<div class="row">
  <div class="medium-2 medium-push-10 columns">
    <ul>
      <li><%= link_to 'New Event', new_event_path %></li>
    </ul>
  </div>
  <div class="medium-10 medium-pull-2 columns">
    <div id="calendar"></div>
  </div>
</div>
