<div class="row">
  <div class="small-12 columns">
    <div id="calendar"></div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul>
      <li><%= link_to 'New Event', new_event_path %></li>
    </ul>
  </div>
</div>
