<div class="row">
  <div class="small-8 small-centered column">
    <div class="row">
      <div class="small-12 column">
        <h1>New Event</h1>
      </div>
    </div>

    <%= render 'form' %>

    <div class="row">
      <div class="small-12 column">
        <%= link_to 'Back', events_path %>
      </div>
    </div>
  </div>
</div>
