= content_for :title, 'New Event'
.row
  .small-8.small-centered.column
    .row
      .small-12.column
        %h1 New Event
    = render 'form'
    .row
      .small-12.column.text-right
        = link_to 'Back', back_link
