<div class="row">
  <h1>Documents</h1>
  <ul>
    <li><%= link_to "Arrival and Departure", "http://wereb.us/camp-docs/arrive-depart.pdf" -%></li>
    <li><%= link_to "Season Opening and Closing", "http://wereb.us/camp-docs/open-close.pdf" -%></li>
  </ul>
</div>
