.row
  %h1 Documents
  %ul
    %li= link_to 'Arrival and Departure', 'http://docs.moretti.camp/arrive-depart.pdf'
    %li= link_to 'Season Opening and Closing', 'http://docs.moretti.camp/open-close.pdf'
