$include-html-classes: false;
@import "foundation";

p.description {
  margin-top: 1.25rem;
  border: 1px dashed;
  padding: 1.25rem;
}

#nav-links{
  @media #{$small-only} {
    @include inline-list;
  }

  @media #{$medium-up} {
    margin-bottom: 4rem;
  }
}
