@include font-face(danielregular, 'daniel-webfont', $asset-pipeline: true);
/*
 *= require fullcalendar
 */

html, body {
  min-height: 100%;
  min-height: 100vh;
}

label .label-note {
  margin: 0 0.75rem;
}

button, .button {
  font-family: $body-font-family;
}

header {
  margin-bottom: 1.5rem;
  $header-color: #f0dfd0;
  color: $header-color;

  a {
    color: $header-color;
    &:hover {
      color: scale-color($header-color, $lightness: -15%);
    }
  }

  h1 {
    font-family: 'danielregular',
                 'Monotype Corsiva',
                 'Apple Chancery',
                 'ITC Zapf Chancery',
                 'URW Chancery L',
                 cursive;
  }

  h1, h2 {
    color: inherit;
  }
}

div.datepicker {
  td.active.day,
  th.active.day,
  td.active.year,
  th.active.year,
  td span.active,
  th span.active {
    background: $primary-color;
  }
}

.clip.has-tip {
  cursor: auto;
}

body {
  background-position: right bottom;
  background-repeat: no-repeat;

  @include breakpoint(large) {
    background-image: image-url('hemlock.png');
  }

  @include breakpoint(medium only) {
    background-image: image-url('hemlockcone.png');
  }
}
