p.description {
  margin-top: 1.25rem;
  border: 1px dashed;
  padding: 1.25rem;
}

#nav-links{
  @include breakpoint(small only) {
    text-align: center;

    li {
      @include grid-column(4);
    }

    i {
      width: 100%;
      padding-bottom: 0.5rem;
    }

    i + span {
      display: block;
      height: 2rem;
    }
  }

  @include breakpoint(medium) {
    margin-bottom: 4rem;
    li a {
      padding: 0.7rem 0;
    }
  }
}
