#calendar.fc {
  thead, tbody, tfoot, th, td {
    background: none;
    border: 0;
  }

  .fc-head {
    background: #ddd;
  }

  .fc-body {
    background: $white;
  }

  .fc-row.ui-widget-content {
    min-height: 7rem;
  }

  .fc-row.fc-week:nth-of-type(even) {
    background: #eee;
  }

  .fc-day-header {
    padding: 1rem 0 0;
  }

  .fc-day {
    border: 1px solid #ddd;
  }

  .fc-day-grid-container {
    overflow-y: hidden !important;
  }

  a.event-event {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      color: #ddd;
    }
  }

  a.season-event {
    background-color: $secondary-color;
    border-color: $secondary-color;
    cursor: default;
  }

  a.fc-event.has-tip::after {
    @extend .fas;
    position: absolute;
    top: 1px;
    right: 1px;
    content: fa-content($fa-var-sticky-note);
  }

  .fc-toolbar {
    margin-bottom: 0;
  }

  .ui-state-highlight {
    background-color: #f0dfd0;
  }

  button {
    height: auto;
  }

  .ui-button {
    @include button;
    font-size: 1rem;
  }

  .ui-button.ui-state-disabled {
    @include button-disabled;
    /* Stupid hack: */
    -webkit-transform: translateZ(0);
  }

  .ui-button {
    &.fc-prev-button, &.fc-next-button {
      @include fa-icon;
      @extend .fas;
      font-weight: 900;
    }
    &.fc-prev-button:before {
      content: fa-content($fa-var-arrow-left);
    }
    &.fc-next-button:before {
      content: fa-content($fa-var-arrow-right);
    }
  }

  .fc-toolbar .fc-left {
    h2 {
      display: none;
    }

    @include breakpoint(medium) {
      h2 {
        display: block;
      }
      h3 {
        display: none;
      }
    }
  }
}
