= password_form :invitation_path, :invitation_token, 'Create Account'
.row
  .medium-6.medium-centered.columns.text-center
    %p
      %strong or
    %p sign in with another account:
= render partial: 'devise/shared/oauth'
