<%= render partial: "devise/shared/password_form",
  locals: {path_method: :invitation_path,
           token: :invitation_token,
           button_text: "Create Account"} %>
<div class="row">
  <div class="medium-6 medium-centered columns text-center">
    <p><strong>or</strong></p><p>sign in with another account:</p>
  </div>
</div>
<%= render partial: "devise/shared/oauth" %>
