.flatpickr-calendar {
  .flatpickr-day {
    border-radius: 0;

    &.selected {
      background: $primary-color;
      border-color: $primary-color;
    }
  }

  .flatpickr-months {
    .flatpickr-next-month:hover, .flatpickr-prev-month:hover {
      svg {
        fill: $primary-color;
      }
    }
  }
}
