html, body {
  min-height: 100%;
  min-height: 100vh;
}

label .label-note {
  margin: 0 0.75rem;
}

header {
  margin-bottom: 1.5rem;
  $header-color: #f0dfd0;
  color: $header-color;

  a {
    color: $header-color;
    &:hover, &:focus {
      color: scale-color($header-color, $lightness: -15%);
    }
  }

  h1 {
    font-family: 'danielregular',
                 'Monotype Corsiva',
                 'Apple Chancery',
                 'ITC Zapf Chancery',
                 'URW Chancery L',
                 cursive;
  }
}

.clip.has-tip {
  cursor: auto;
}

body {
  background-position: right bottom;
  background-repeat: no-repeat;

  @include breakpoint(large) {
    background-image: url('../images/hemlock.png');
  }

  @include breakpoint(medium only) {
    background-image: url('../images/hemlockcone.png');
  }
}
