/*
 *= require_tree ./screen
 *= require_self
 *= require screen/foundation_and_overrides
 *= require font-awesome
 *= require foundation-datepicker
 */
$include-html-classes: false;
@import "screen/foundation_and_overrides";
@import "screen/font-face";

@include font-face(danielregular, 'daniel-webfont', $asset-pipeline: true);

label .label-note {
  margin: 0 0.75rem;
}

header.row {
  background: #222;
  max-width: 100%;
  margin-bottom: 1.5rem;

  a {
    $link-color: #f0dfd0;
    color: $link-color;
    &:hover {
      color: scale-color($link-color, $lightness: -5%);
    }
  }

  h1 {
    font-family: 'danielregular', 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
  }

  .inline-list {
    @media #{$medium-up} {
      float: right;
    }
  }
}

div.datepicker {
  td.active.day,
  th.active.day,
  td.active.year,
  th.active.year,
  td span.active,
  th span.active {
    background: $primary-color;
  }
}

body {
  background-position: right bottom;
  background-repeat: no-repeat;

  @media #{$large-up} {
    background-image: image-url('hemlock.png');
  }

  @media #{$medium-only} {
    background-image: image-url('hemlockcone.png');
  }
}
