@use "bootstrap" with (
  $primary: hsl(130, 100%, 20%),
  $enable-rounded: false
);

@use "@fortawesome/fontawesome-free/scss/variables" with (
  $font-path: "."
);
@use "@fortawesome/fontawesome-free/scss/fontawesome";

@use "@fortawesome/fontawesome-free/scss/fa" as fa;
@use "@fortawesome/fontawesome-free/scss/solid" as fas;
@use "@fortawesome/fontawesome-free/scss/regular" as far;
@use "@fortawesome/fontawesome-free/scss/brands" as fab;

@use "global" as *;
@use "events";
@use "fullcalendar-custom";
