@use "bootstrap/scss/bootstrap" with (
  $primary: hsl(130, 100%, 20%),
  $enable-rounded: false
);

$fa-font-path: ".";
@use "@fortawesome/fontawesome-free/scss/fontawesome" as fa with (
  $fa-font-path: $fa-font-path
);
@use "@fortawesome/fontawesome-free/scss/solid" as fas with (
  $fa-font-path: $fa-font-path
);
@use "@fortawesome/fontawesome-free/scss/brands" as fab with (
  $fa-font-path: $fa-font-path
);

@use "global" as *;
@use "events";
@use "fullcalendar-custom";
