/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require fullcalendar
 *= require foundation-datepicker
 */
$include-html-classes: false;
@import "foundation_and_overrides";
@import "font-face";

@include font-face(danielregular, 'daniel-webfont', $asset-pipeline: true);

label .label-note {
  margin: 0 0.75rem;
}

header.row {
  background: #222;
  max-width: 100%;
  margin-bottom: 1.5rem;

  a {
    $link-color: #f0dfd0;
    color: $link-color;
    &:hover {
      color: scale-color($link-color, $lightness: -5%);
    }
  }

  h1 {
    font-family: 'danielregular', 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
  }

  .inline-list {
    @media #{$medium-up} {
      float: right;
    }
  }
}

div.datepicker {
  td.active.day,
  th.active.day,
  td.active.year,
  th.active.year,
  td span.active,
  th span.active {
    background: $primary-color;
  }
}

body {
  background-position: right bottom;
  background-repeat: no-repeat;

  @media #{$large-up} {
    background-image: image-url('hemlock.png');
  }

  @media #{$medium-only} {
    background-image: image-url('hemlockcone.png');
  }
}
