$primary: hsl(130, 100%, 20%);
$enable-rounded: false;
@import "bootstrap/scss/bootstrap";

$fa-font-path: ".";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

@import "fullcalendar-custom";

@import "global";
@import "events";
@import "seasons";

@import "font-face";
@include font-face(danielregular, 'daniel-webfont', $asset-pipeline: false);
