/*
 *= require_tree .
 *= require_self
 *= require foundation-datepicker
 *= require fullcalendar
 */

$include-html-classes: false;
@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "font-face";

@include font-face(danielregular, 'daniel-webfont', $asset-pipeline: true);

html, body {
  min-height: 100%;
  min-height: 100vh;
}

label .label-note {
  margin: 0 0.75rem;
}

button, .button {
  font-family: $body-font-family;
}

header {
  margin-bottom: 1.5rem;

  a {
    $link-color: #f0dfd0;
    color: $link-color;
    &:hover {
      color: scale-color($link-color, $lightness: -15%);
    }
  }

  h1 {
    font-family: 'danielregular',
                 'Monotype Corsiva',
                 'Apple Chancery',
                 'ITC Zapf Chancery',
                 'URW Chancery L',
                 cursive;
  }
}

div.datepicker {
  td.active.day,
  th.active.day,
  td.active.year,
  th.active.year,
  td span.active,
  th span.active {
    background: $primary-color;
  }
}

body {
  background-position: right bottom;
  background-repeat: no-repeat;

  @include breakpoint(large) {
    background-image: image-url('hemlock.png');
  }

  @include breakpoint(medium only) {
    background-image: image-url('hemlockcone.png');
  }
}
