// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.description {
  margin-top: 1.25rem;
  border: 1px dashed;
  padding: 1.25rem;
}
