@use "bootstrap/scss/bootstrap-utilities" as bootstrap;

#nav-links{
  @include bootstrap.media-breakpoint-only(sm) {
    text-align: center;

    .nav-item {
      width: 8rem;
    }

    i {
      width: 100%;
    }
  }
}
