$include-html-classes: false;
@import "foundation_and_overrides";
@import "font-awesome/variables";
@import "font-awesome/mixins";

#calendar.fc {
  thead, tbody, tfoot, th, td {
    background: none;
    border: 0;
  }

  .fc-head {
    background: #ddd;
  }

  .fc-body {
    background: $white;
  }

  .fc-row.ui-widget-content {
    min-height: 7rem;
  }

  .fc-row.fc-week:nth-of-type(even) {
    background: #eee;
  }

  .fc-day-header {
    padding: 1rem 0 0;
  }

  .fc-day {
    border: 1px solid #ddd;
  }

  .fc-day-grid-container {
    overflow-y: hidden !important;
  }

  a.fc-event:hover {
    color: #ddd;
  }

  .fc-toolbar {
    margin-bottom: 0;
  }

  .ui-state-highlight {
    background-color: #f0dfd0;
  }

  button {
    height: auto;
  }

  .ui-button {
    @include button;
    font-size: 1rem;
  }

  .ui-button.ui-state-disabled {
    @include button-disabled;
    /* Stupid hack: */
    -webkit-transform: translateZ(0);
  }

  .fc-prev-button {
    @include fa-icon;
    &:before {
      content: $fa-var-arrow-left;
    }
  }

  .fc-next-button {
    @include fa-icon;
    &:before {
      content: $fa-var-arrow-right;
    }
  }

  .fc-toolbar .fc-left {
    h2 {
      display: none;
    }

    @include breakpoint(medium) {
      h2 {
        display: block;
      }
      h3 {
        display: none;
      }
    }
  }

  .event-hover {
    display: none;
    font-size: 0.9em;
    padding: 1em;
    border: 1px solid #222;

    position: absolute;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background: white;
    color: #222;
    &:hover {
      color: #222;
    }
  }
}
