@use "bootstrap";
@use "@fortawesome/fontawesome-free/scss/fa" as fa;
@use "@fortawesome/fontawesome-free/scss/solid" as fas;

#calendar.fc {
  .fc-daygrid-body {
    background: bootstrap.$white;
  }

  tbody tr:nth-child(even) {
    background: bootstrap.$gray-200;
  }

  a.fc-event.has-tip .fc-event-main-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      @include fas.icon(fa.$var-note-sticky);
      content: fa.fa-content(fa.$var-note-sticky);
      color: bootstrap.$white;
      margin-right: calc(0.25 * bootstrap.$spacer);
    }
  }
}
