#calendar.fc {
  .fc-daygrid-body {
    background: $white;
  }

  tbody tr:nth-child(even) {
    background: $gray-200;
  }

  a.fc-event.has-tip {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      @extend .fas;
      color: $white;
      content: fa-content($fa-var-sticky-note);
      margin-right: calc(0.25 * $spacer);
    }
  }
}
