@use "bootstrap";
@use "@fortawesome/fontawesome-free/scss/fontawesome" as fa;
@use "@fortawesome/fontawesome-free/scss/solid";

#calendar.fc {
  .fc-daygrid-body {
    background: bootstrap.$white;
  }

  tbody tr:nth-child(even) {
    background: bootstrap.$gray-200;
  }

  a.fc-event.has-tip .fc-event-main-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      @extend .fas;
      color: bootstrap.$white;
      content: fa.fa-content(fa.$fa-var-note-sticky);
      margin-right: calc(0.25 * bootstrap.$spacer);
    }
  }
}
