@use "bootstrap";
@use "sass:color";

$tan: #f0dfd0;

:root {
  --color-tan: $tan;
}

@font-face {
  font-family: 'danielregular';
  src: url('daniel-webfont.eot');
  src: url('daniel-webfont.eot?#iefix') format('embedded-opentype'),
       url('daniel-webfont.woff') format('woff'),
       url('daniel-webfont.ttf') format('truetype'),
       url('daniel-webfont.svg#normal')format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100%;
  min-height: 100vh;
}

#main-nav {
  color: $tan;

  h1 {
    font-family: 'danielregular', 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
  }

  a, button {
    color: $tan;
    &:hover, &:focus {
      color: color.scale($tan, $lightness: -15%);
    }
  }
}

body {
  background-position: right bottom;
  background-repeat: no-repeat;

  @include bootstrap.media-breakpoint-up(lg) {
    background-image: url('hemlock.png');
  }

  @include bootstrap.media-breakpoint-only(md) {
    background-image: url('hemlockcone.png');
  }
}
