$tan: #f0dfd0;

:root {
  --color-tan: $tan;
}

body {
  min-height: 100%;
  min-height: 100vh;
}

#main-nav {
  color: $tan;

  h1 {
    font-family: 'danielregular', 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
  }

  a {
    color: $tan;
    &:hover, &:focus {
      color: scale-color($tan, $lightness: -15%);
    }
  }
}

body {
  background-position: right bottom;
  background-repeat: no-repeat;

  @include media-breakpoint-up(lg) {
    background-image: url('hemlock.png');
  }

  @include media-breakpoint-only(md) {
    background-image: url('hemlockcone.png');
  }
}
