- content_for :body do
  #pusher
  #login-form.row
    .small-8.small-centered.columns
      .callout
        =# display_flash_messages
        = yield
        = render 'devise/shared/links'
= render template: 'layouts/application'
